* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #161616; 
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    font-size: 4rem;
    font-weight: 600;
}

.voltarPagina {
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    transition: 0.3s;
}

.voltarPagina:hover {
    transform: translateY(-3px);
    background-color: #1e1e1e;
    border: 1px solid #161616;
    border-radius: 10px;
    box-shadow: 1px 1px 70px 10px #000;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.btn1trimestre {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 2px solid #373737;
    border-right: transparent;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 7px;
    width: 10rem;
    text-decoration: none;
    transition: 0.3s;
}

.btn1trimestre:hover {
    background-color: #373737;
}

.btn2trimestre {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 2px solid #373737;
    border-left: transparent;
    border-right: transparent;
    padding: 7px;
    width: 10rem;
    text-decoration: none;
    transition: 0.3s;
}

.btn2trimestre:hover {
    background-color: #373737;
}

.btn3trimestre {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 2px solid #373737;
    border-left: transparent;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 7px;
    width: 10rem;
    text-decoration: none;
    transition: 0.3s;
}

.btn3trimestre:hover {
    background-color: #373737;
}

.trimestre-container {
    position: relative; 
    width: 100%;
    height: 80px; 
    margin-top: 5rem;
    overflow: hidden;
    z-index: 0;
    border-radius: 15px;
    width: 90%;
    box-shadow: 1px 1px 70px 10px #000;
}

.trimestre-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.primeiroTrimestre,
.segundoTrimestre,
.terceiroTrimestre {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    color: white; 
    position: relative;
    z-index: -1; 
    text-align: center;
    margin: 0; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
}

.txt-nadaAqui {
    font-size: 1rem;
    font-weight: 300;
    color: #ccc;
    position: relative;
    z-index: 1;
}

.card-group {
    display: flex;
    gap: 5rem;
}

.card {
    background-color: #161616;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    color: #fff;
    height: 60vh !important;
    font-size: smaller;
    border-right: 1px solid #ffffff33 !important;
    border-left: 1px solid #ffffff33 !important;
    border-bottom: 4px solid #ccba16 !important;
    border-radius: 15px !important;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden !important;
    transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
    opacity: 0;
    transform: translateX(-50px); 
    animation: fadeInFromLeft 1s ease-in-out forwards; 
}


.card-group .card:nth-child(1) {
    animation-delay: 0.2s; 
}
.card-group .card:nth-child(2) {
    animation-delay: 0.4s; 
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 1px 70px 10px #000;
    border-radius: 15px;
}

.img-card {
    height: 9rem;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
}

.card-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1px;
}

.btnVerMais {
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

.btnVerMais:hover {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #282828;
    padding: 10px;
}

.voltarTopo {
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: transparent;
    padding: 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
    transition: 0.3s;
}

.voltarTopo:hover {
    transform: translateY(-3px);
    background-color: #1e1e1e;
    border: 1px solid #161616;
    border-radius: 50px;
    box-shadow: 1px 1px 70px 10px #000;
}